@import url("css/zodiak.css");

/* 
  font-family: "Zodiak-Variable";
  font-family: "Zodiak-VariableItalic";
  font-family: "Zodiak-Thin";
  font-family: "Zodiak-ThinItalic";
  font-family: "Zodiak-Light";
  font-family: "Zodiak-LightItalic";
  font-family: "Zodiak-Regular";
  font-family: "Zodiak-Italic";
  font-family: "Zodiak-Bold";
  font-family: "Zodiak-BoldItalic";
  font-family: "Zodiak-Extrabold";
  font-family: "Zodiak-ExtraboldItalic";
  font-family: "Zodiak-Black";
  font-family: "Zodiak-BlackItalic"; */
:root {
  --background: #f5e4bc;
  --text-big: #292823;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 0.8em;
}
::-webkit-scrollbar-thumb {
  background: var(--text-big);
}
body {
  font-family: "Zodiak-Variable";
  font-family: "Zodiak-VariableItalic";
  font-family: "Zodiak-Thin";
  font-family: "Zodiak-ThinItalic";
  font-family: "Zodiak-Light";
  font-family: "Zodiak-LightItalic";
  font-family: "Zodiak-Regular";
  font-family: "Zodiak-Italic";
  font-family: "Zodiak-Bold";
  font-family: "Zodiak-Black";
  background-color: var(--background);
  background-image: url(./img/image.svg);
  text-transform: uppercase;
  margin: 0 50px;
}
/* ----------------------------------------------------------------- */
/* Header */
/* ----------------------------------------------------------------- */

/*--------------------------------------------------------------------------
 Navigation 
---------------------------------------------------------------------------*/
#header {
  margin-top: 100px;
}
.navigation {
  width: 100%;
  z-index: 100;
  height: 70px;
}
.nav-container {
  position: relative;
  max-width: 92rem;
  padding: 0 4rem;
  margin: -5px auto;
}
.navigation .nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}
.nav-links {
  width: 35%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  float: right;
}
.nav-links li {
  list-style: none;
  margin: 0 10px;
}
.nav-links li a {
  text-decoration: none;
  color: var(--text-big);
}
.nav-sec {
  transition: 0.7s ease;
}
.burger {
  display: none;
  cursor: pointer;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  background-color: var(--text-big);
}

/* ---------------------------------------------------------------------------
Home 
-----------------------------------------------------------------------------*/
.home {
  margin-top: 100px;
  margin-left: 40px;
}
.big-text {
  font-size: 10em;
  font-weight: bolder;
  color: var(--text-big);
  transform: translateY(50px);
  margin-top: 85px;
  margin-bottom: -60px;
}
.lessbig-text {
  font-size: 7em;
  font-weight: bolder;
  color: var(--text-big);
  transform: translateY(50px);
}
.medium-text {
  font-size: 3em;
  font-weight: lighter;
  color: var(--text-big);
  margin-top: 120px;
  margin-bottom: -100px;
  margin-left: 30px;
  font-family: "Zodiak-BlackItalic";
  transform: translateY(50px);
}
.parag-section {
  text-transform: none;
  color: #33322f;
  font-family: "Zodiak-Bold";
}
.subtitle-section {
  font-size: 2em;
  color: var(--text-big);
  padding: 5px 0px;
  margin-bottom: 20px;
}
.transparent-text {
  font-size: 11em;
  font-weight: bolder;
  color: #29282328;
  text-align: center;
  z-index: -1;
  transform: translateY(100px);
}
.btn {
  text-decoration: none;
  color: var(--text-big);
  background: none;
  padding: 10px 20px;
  border: 1px solid var(--text-big);
  position: relative;
  bottom: -100px;
  left: 40%;
  transition: 0.6s;
}
.btn:hover {
  background-color: var(--text-big);
  color: var(--background);
  padding: 20px 20px;
}
/* Scroll */
.scroll {
  height: 75px;
  width: 2px;
  background-color: var(--text-big);
  position: relative;
  bottom: -120px;
  left: 10px;
}
.scroll-text {
  font-size: 0.9em;
  color: var(--text-big);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  width: 120px;
  position: relative;
  left: -50px;
  bottom: 20px;
  font-family: "Zodiak-Bold";
}
.arrow-down {
  position: absolute;
  left: 40px;
  bottom: 0px;
}

#main {
  margin: 0 40px;
}
/*-------------------------------------------------------------
 About Me 
-------------------------------------------------------------*/
.section-text {
  font-size: 5em;
  font-weight: bolder;
  color: var(--text-big);
  margin-top: 100px;
  text-align: center;
}

.container-about {
  margin-top: 50px;
  min-height: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 80px;
  justify-items: center;
}
.btns-about {
  margin-top: 10px;
}
.btn-color {
  text-decoration: none;
  background-color: var(--text-big);
  padding: 11px 40px;
  color: var(--background);
  position: relative;
  bottom: -30px;
  left: 10%;
  transition: 0.6s;
}
.btn-color:hover {
  background-color: transparent;
  border: 1px solid var(--text-big);
  color: var(--text-big);
  padding: 20px 40px;
}
.img-about img {
  width: 45vw;
  height: 70vh;
  transform: translateY(-60px);
}
/* -------------------------------------------------------------
´Skills
--------------------------------------------------------------- */
.section-text-skill {
  font-size: 5em;
  font-weight: bolder;
  color: var(--text-big);
  text-align: center;
  margin-top: 200px;
}
.skills-tech-container {
  margin-top: -100px;
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 3fr;
  gap: 40px;
}
.icons-skills img {
  width: 60px;
  height: 60px;
  border: 2px solid var(--text-big);
  border-radius: 40%;
  padding: 10px 10px;
  margin: 10px 20px;
}
.parag-skills {
  margin: 5px;
  color: var(--text-big);
  font-family: "Zodiak-Bold";
}

.o-title.is-inview .o-title_line {
  opacity: 1;
  transform: none;
}
.o-title.is-inview .o-title_line:first-child {
  transition-delay: 0.4s;
}
.o-title.is-inview .o-title_line:nth-child(2) {
  transition-delay: 0.5s;
}
.o-title.is-inview .o-title_line:nth-child(3) {
  transition-delay: 0.6s;
}
.o-title.is-inview .o-title_line:nth-child(4) {
  transition-delay: 0.7s;
}
.o-image.is-inview img {
  opacity: 1;
  transform: scale(1);
  transition-delay: 0.6s;
}
.c-header_line.is-inview {
  transform: scaleX(1);
}
.c-intro.is-inview {
  opacity: 1;
  transform: none;
  transition-delay: 0.3s;
}
.c-summary.is-inview .c-summary_text {
  opacity: 1;
  transform: none;
}
.c-summary_list_item.is-inview {
  opacity: 1;
  transform: none;
}
.c-summary_list_item.is-inview:after {
  transform: scaleX(1);
}
.c-summary_list_item.is-inview:first-child {
  transition-delay: 0.1s;
}
.c-summary_list_item.is-inview:first-child:after {
  transition-delay: 0.5s;
}
.c-summary_list_item.is-inview:nth-child(2) {
  transition-delay: 0.2s;
}
.c-summary_list_item.is-inview:nth-child(2):after {
  transition-delay: 0.6s;
}
.c-summary_list_item.is-inview:nth-child(3) {
  transition-delay: 0.3s;
}
.c-summary_list_item.is-inview:nth-child(3):after {
  transition-delay: 0.7s;
}
.c-summary_list_item.is-inview:nth-child(4) {
  transition-delay: 0.4s;
}
.c-summary_list_item.is-inview:nth-child(4):after {
  transition-delay: 0.8s;
}
.c-summary_list_item.is-inview:nth-child(5) {
  transition-delay: 0.5s;
}
.c-summary_list_item.is-inview:nth-child(5):after {
  transition-delay: 0.9s;
}
.c-summary_list_item.is-inview:nth-child(6) {
  transition-delay: 0.6s;
}
.c-summary_list_item.is-inview:nth-child(6):after {
  transition-delay: 1s;
}
.c-section_infos_inner.is-inview > :first-child {
  transition-delay: 0.06s;
}
.c-section_infos_inner.is-inview > :nth-child(2) {
  transition-delay: 0.12s;
}
.c-section_infos_inner.is-inview > :nth-child(3) {
  transition-delay: 0.18s;
}
.c-image.is-inview {
  opacity: 1;
  transition-delay: 0.6s;
}
.c-speed-block_title.is-inview {
  opacity: 1;
  transform: none;
  transition-delay: 0.3s;
}
.c-speed-block_bubble.is-inview:before {
  transform: scale(1);
  transition-delay: 0.3s;
}
/*-----------------------------------------------------------------------------
 ´Projects
---------------------------------------------------------------------------- */
.big-container {
  margin-top: -100px;
}
.container-projects {
  width: 100%;
  background-color: none;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 10px;
  margin-top: 50px;
}
.container-projects2 {
  width: 100%;
  background-color: none;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
  margin-top: 50px;
}
.section-text-project {
  font-size: 5em;
  font-weight: bolder;
  color: var(--text-big);
  margin-top: 250px;
  text-align: center;
}

.subtitle-project {
  font-size: 2em;
  color: var(--text-big);
  margin-bottom: 20px;
}
.text-project {
  color: var(--text-big);
  font-size: 0.9em;
  margin-bottom: 10px;
}
.technologies {
  font-size: 1.2em;
  color: #000;
}
.btn-project-about {
  text-decoration: none;
  color: var(--text-big);
  background: none;
  padding: 10px 30px;
  border: 1px solid var(--text-big);
  position: relative;
  bottom: -30px;
  left: 15%;
  transition: 1s;
}
.btn-project-about:hover {
  background-color: var(--text-big);
  color: var(--background);
  padding: 20px 30px;
}
.btn-project {
  text-decoration: none;
  color: var(--text-big);
  background: none;
  padding: 10px 30px;
  border: 1px solid var(--text-big);
  position: relative;
  bottom: -30px;
  left: 15%;
  transition: 1s;
}
.btn-project:hover {
  background-color: var(--text-big);
  color: var(--background);
  padding: 20px 30px;
}
.img-project img {
  width: 90%;
  height: 90%;
}

hr {
  border: 0;
  border-top: 1px solid #272727;
  display: block;
  height: 1px;
  margin: 1em 0;
  padding: 0;
}
.c-cta_line.is-inview:first-child {
  transition-delay: 0.1s;
}
.c-cta_line.is-inview:nth-child(2) {
  transition-delay: 0.1s;
}
.c-cta_line.is-inview:nth-child(3) {
  transition-delay: 0.1s;
}
.c-cta_line.is-inview:nth-child(4) {
  transition-delay: 0.5s;
}
.c-cta_line.is-inview:nth-child(5) {
  transition-delay: 1s;
}
.c-cta_line.is-inview:nth-child(6) {
  transition-delay: 4s;
}
/* ´CONTACT ME -------------------------------------------------------------------------------*/
.contact {
  margin-top: 100px;
}
.section-text-contact {
  font-size: 5em;
  font-weight: bolder;
  color: var(--text-big);
  margin-top: 100px;
  text-align: center;
}
.contact-me {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 100%;
  margin: 60px 0 150px 0;
}
.social {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border: 1px solid var(--text-big);
  text-decoration: none;
  color: var(--text-big);
  padding: 30px 0;
  border-radius: 20px;
  transition: 0.5s;
  font-size: 1.2em;
  margin-top: -20px;
}
.social-text {
  margin-left: 10px;
}
.social:hover {
  background-color: var(--text-big);
  color: var(--background);
  font-size: 2em;
}
/* ´Footer */
.footer {
  margin-top: -20px;
  color: var(--text-big);
}
.footer i {
}
/* ----------------------------------------------------------------------------
´Responsive Design
----------------------------------------------------------------------------- */
@media (max-width: 1242px) {
  .big-text {
    font-size: 9.2em;
    margin-bottom: -70px;
  }
  .lessbig-text {
    font-size: 6.5em;
    margin-bottom: 50px;
  }
  .medium-text {
    font-size: 3em;
    font-weight: lighter;
    color: var(--text-big);
    margin-top: 140px;
    margin-bottom: -80px;
    margin-left: 30px;
  }
  .transparent-text {
    font-size: 10em;
    font-weight: bolder;
    color: #29282328;
    text-align: center;
    z-index: -1;
    transform: translateY(100px);
  }
  /* ´Skill */
  .section-text-skill {
    font-size: 4em;
    font-weight: bolder;
    color: var(--text-big);
    text-align: center;
    margin-top: 200px;
  }
  /* ´Projects */
  .container-projects {
    width: 100%;
    background-color: none;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
    margin: 50px 0;
  }
  .container-projects2 {
    width: 100%;
    background-color: none;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
    margin: 50px 0;
  }
  .section-text-contact {
    font-size: 5em;
    font-weight: bolder;
    color: var(--text-big);
    margin-top: 120px;
    text-align: center;
  }
}
@media (max-width: 1020px) {
  .nav-links {
    width: 55%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    float: right;
  }
  .nav-links li {
    list-style: none;
    margin: 0 10px;
  }
  .big-text {
    font-size: 8.2em;
    margin-bottom: -50px;
  }
  .lessbig-text {
    font-size: 6.5em;
    margin-bottom: 50px;
  }
  .medium-text {
    font-size: 2.3em;
    font-weight: lighter;
    color: var(--text-big);
    margin-top: 140px;
    margin-bottom: -80px;
    margin-left: 30px;
  }
  .transparent-text {
    font-size: 9em;
    font-weight: bolder;
    color: #29282328;
    text-align: center;
    z-index: -1;
    transform: translateY(100px);
  }
  /* ´Btn */
  .btn {
    text-decoration: none;
    color: var(--text-big);
    background: none;
    padding: 10px 20px;
    border: 1px solid var(--text-big);
    position: relative;
    bottom: -80px;
    left: 40%;
    transition: 1s;
  }
  .section-text {
    font-size: 3.5em;
    font-weight: bolder;
    color: var(--text-big);
    margin-top: 100px;
    text-align: center;
  }
  /* ´Skill */
  .section-text-skill {
    font-size: 3.5em;
    font-weight: bolder;
    color: var(--text-big);
    text-align: center;
    margin-top: 200px;
  }
  /* ´Project */
  .section-text-project {
    font-size: 4em;
    font-weight: bolder;
    color: var(--text-big);
    margin-top: 250px;
    text-align: center;
  }
  .section-text-contact {
    font-size: 4.5em;
    font-weight: bolder;
    color: var(--text-big);
    margin-top: 150px;
    text-align: center;
  }
}
@media (max-width: 876px) {
  .big-text {
    font-size: 7em;
    margin-bottom: -35px;
  }
  .lessbig-text {
    font-size: 6em;
    margin-bottom: 50px;
  }
  .medium-text {
    font-size: 2em;
    font-weight: lighter;
    color: var(--text-big);
    margin-top: 140px;
    margin-bottom: -80px;
    margin-left: 30px;
  }
  .transparent-text {
    font-size: 7em;
    font-weight: bolder;
    color: #29282328;
    text-align: center;
    z-index: -1;
    transform: translateY(100px);
  }
  /* ´Btn */
  .btn {
    text-decoration: none;
    color: var(--text-big);
    background: none;
    padding: 10px 20px;
    border: 1px solid var(--text-big);
    position: relative;
    bottom: -60px;
    left: 30%;
    transition: 1s;
  }
  .section-text {
    font-size: 3em;
    font-weight: bolder;
    color: var(--text-big);
    margin-top: 100px;
    text-align: center;
  }
  /* ´Btn About */
  .btn-color {
    text-decoration: none;
    background-color: var(--text-big);
    padding: 11px 40px;
    color: var(--background);
    position: relative;
    bottom: -30px;
    left: 0%;
    transition: 0.6s;
  }
  .btn-project-about {
    text-decoration: none;
    color: var(--text-big);
    background: none;
    padding: 10px 30px;
    border: 1px solid var(--text-big);
    position: relative;
    bottom: -30px;
    left: 5%;
    transition: 1s;
  }
  /* Skill */
  .section-text-skill {
    font-size: 3em;
    font-weight: bolder;
    color: var(--text-big);
    text-align: center;
    margin-top: 200px;
  }
  .icons-skills img {
    width: 60px;
    height: 60px;
    border: 2px solid var(--text-big);
    border-radius: 40%;
    padding: 10px 10px;
    margin: 10px 2px;
  }
  .skills-tech-container {
    margin-top: -100px;
    width: 100%;
    display: grid;
    grid-template-columns: 6fr;
    gap: 40px;
  }
  /* ´Project */
  .section-text-project {
    font-size: 3.5em;
    font-weight: bolder;
    color: var(--text-big);
    margin-top: 300px;
    margin-bottom: -200px;
    text-align: center;
  }
  .section-text-contact {
    font-size: 3.2em;
    font-weight: bolder;
    color: var(--text-big);
    margin-top: 170px;
    text-align: center;
  }
}
@media (max-width: 767px) {
  .logo img {
    width: 80px;
    height: 80px;
  }
  .big-text {
    font-size: 6em;
    margin-bottom: -20px;
  }
  .lessbig-text {
    font-size: 5em;
    margin-bottom: 50px;
  }
  .medium-text {
    font-size: 1.5em;
    font-weight: lighter;
    color: var(--text-big);
    margin-top: 140px;
    margin-bottom: -80px;
    margin-left: 30px;
  }
  /* ´Btn */
  .btn {
    text-decoration: none;
    color: var(--text-big);
    background: none;
    padding: 10px 20px;
    border: 1px solid var(--text-big);
    position: relative;
    bottom: -35px;
    left: 25%;
    transition: 1s;
  }
  /* Scroll */
  .scroll {
    height: 50px;
    width: 2px;
    background-color: var(--text-big);
    transform: translateY(-30px);
    margin-left: 10px;
  }
  .scroll-text {
    font-size: 0.8em;
    width: 110px;
    position: relative;
    left: -36px;
    top: 0px;
    font-family: "Zodiak-Bold";
  }
  .burger {
    display: block;
  }
  .burger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .burger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .burger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-links {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: var(--background);
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }
  .nav-item {
    margin: 16px 0;
  }
  .nav-links.active {
    left: 0;
  }
  .container-about {
    margin-top: 50px;
    min-height: 400px;
    display: grid;
    grid-template-columns: 4fr;
    justify-items: center;
  }
  .text-about {
    margin-bottom: 20px;
  }
  /* Skill */
  .section-text-skill {
    font-size: 2.7em;
    font-weight: bolder;
    color: var(--text-big);
    text-align: center;
    margin-top: 230px;
  }
  .parag-section {
    text-transform: none;
    color: #33322f;
    font-family: "Zodiak-Bold";
    font-size: 1.2em;
  }
  /* ´Projects */
  .text-projects {
    text-align: center;
    margin-bottom: 40px;
  }
  .btn-project {
    text-decoration: none;
    color: var(--text-big);
    background: none;
    padding: 10px 30px;
    border: 1px solid var(--text-big);
    position: relative;
    bottom: -30px;
    left: 0%;
    transition: 1s;
  }
  .btn-project:hover {
    background-color: var(--text-big);
    color: var(--background);
    padding: 20px 30px;
  }
  .img-project {
    text-align: center;
  }
  .img-project img {
    width: 60%;
    height: 60%;
  }
  .section-text-project {
    font-size: 3.5em;
    font-weight: bolder;
    color: var(--text-big);
    margin-top: 300px;
    margin-bottom: -245px;
    text-align: center;
  }

  .container-projects {
    width: 100%;
    background-color: none;
    display: grid;
    grid-template-columns: 3fr;
    margin-top: 50px;
    align-items: center;
  }
  .container-projects2 {
    width: 100%;
    background-color: none;
    display: grid;
    grid-template-columns: 3fr;
    margin: 50px 0;
  }
  .img-project img {
    width: 70%;
    height: 70%;
  }
  .contact-me {
    display: grid;
    grid-template-columns: 3fr;
    gap: 20px;
    width: 100%;
    margin: 60px 0 150px 0;
  }
  .contact-me a {
    margin: 5px;
  }
  .section-text-contact {
    font-size: 3em;
    font-weight: bolder;
    color: var(--text-big);
    margin-top: 200px;
    margin-bottom: -100px;
    text-align: center;
  }
}
@media (max-width: 630px) {
  .big-text {
    font-size: 5.2em;
    margin-bottom: -20px;
  }
  .lessbig-text {
    font-size: 4.5em;
    margin-bottom: 50px;
  }
  .medium-text {
    font-size: 1.2em;
    font-weight: lighter;
    color: var(--text-big);
    margin-top: 140px;
    margin-bottom: -80px;
    margin-left: 30px;
  }
  /* ´Btn */
  .btn {
    text-decoration: none;
    color: var(--text-big);
    background: none;
    padding: 10px 20px;
    border: 1px solid var(--text-big);
    position: relative;
    bottom: -25px;
    left: 22%;
    transition: 1s;
  }
  /* Scroll */
  .scroll {
    height: 50px;
    width: 2px;
    background-color: var(--text-big);
    transform: translateY(0px);
    margin-left: 10px;
  }
  .scroll-text {
    font-size: 0.8em;
    width: 110px;
    position: relative;
    left: -36px;
    top: 30px;
    font-family: "Zodiak-Bold";
  }
}
@media (max-width: 570px) {
  body {
    margin: 0;
  }
  #header {
    margin-bottom: 100px;
  }
  .big-text {
    font-size: 5.8em;
    margin-bottom: -20px;
  }
  .lessbig-text {
    font-size: 5.2em;
    margin-bottom: 50px;
  }
  .medium-text {
    font-size: 1.7em;
    font-weight: lighter;
    color: var(--text-big);
    margin-top: 140px;
    margin-bottom: -80px;
    margin-left: 30px;
  }
  /* ´Btn */
  .btn {
    text-decoration: none;
    color: var(--text-big);
    background: none;
    padding: 10px 20px;
    border: 1px solid var(--text-big);
    position: relative;
    bottom: -60px;
    left: 30%;
    transition: 1s;
  }
  /* Scroll */
  .scroll {
    height: 50px;
    width: 2px;
    background-color: var(--text-big);
    transform: translateY(0px);
    margin-left: 10px;
  }
  .scroll-text {
    font-size: 0.8em;
    width: 110px;
    position: relative;
    left: -36px;
    top: 30px;
    font-family: "Zodiak-Bold";
  }
  /* About */
  .img-about img {
    width: 70vw;
    height: 60vh;
    transform: translateY(-60px);
  }
  /* Skill */
  .section-text-skill {
    font-size: 3em;
    font-weight: bolder;
    color: var(--text-big);
    text-align: center;
    margin-top: 260px;
  }
  .parag-skills {
    margin: 5px;
    color: var(--text-big);
    font-family: "Zodiak-Bold";
    font-size: 1.2em;
  }
  /* ´Main */
  #main {
    margin: 0 10px;
  }
  /* ´Projects */
  .text-projects {
    text-align: center;
    margin-bottom: 40px;
  }
  .btn-project {
    text-decoration: none;
    color: var(--text-big);
    background: none;
    padding: 10px 30px;
    border: 1px solid var(--text-big);
    position: relative;
    bottom: -30px;
    left: 0%;
    transition: 1s;
  }
  .btn-project:hover {
    background-color: var(--text-big);
    color: var(--background);
    padding: 20px 30px;
  }
  .img-project {
    text-align: center;
  }
  .img-project img {
    width: 60%;
    height: 60%;
  }
  .section-text-project {
    font-size: 3.5em;
    font-weight: bolder;
    color: var(--text-big);
    margin-top: 300px;
    margin-bottom: -245px;
    text-align: center;
  }
  .contact {
    margin-top: 0px;
  }
}
@media (max-width: 520px) {
  /* ´Navigation */
  .navigation .nav-container {
    margin-left: -50px;
  }
  .logo img {
    width: 80px;
    height: 80px;
  }
  /* Text */
  .home {
    margin: 100px auto 50px 10px;
  }
  .big-text {
    font-size: 5.2em;
    margin-bottom: -20px;
  }
  .lessbig-text {
    font-size: 4.6em;
    margin-bottom: 50px;
  }
  .medium-text {
    font-size: 1.3em;
    font-weight: lighter;
    color: var(--text-big);
    margin-top: 140px;
    margin-bottom: -80px;
    margin-left: 30px;
  }
  .transparent-text {
    font-size: 5em;
    font-weight: bolder;
    color: #29282328;
    text-align: center;
    z-index: -1;
    transform: translateY(100px);
  }
  .section-text-project {
    font-size: 2.8em;
    font-weight: bolder;
    color: var(--text-big);
    margin-top: 350px;
    margin-bottom: -245px;
    text-align: center;
  }
  /* Scroll */
  .scroll {
    height: 50px;
    width: 2px;
    background-color: var(--text-big);
    transform: translateY(-40px);
    margin-left: 10px;
  }
  .scroll-text {
    font-size: 0.8em;
    width: 110px;
    position: relative;
    left: -36px;
    top: -20px;
    font-family: "Zodiak-Bold";
  }
}
@media (max-width: 430px) {
  .big-text {
    font-size: 4.4em;
    margin-bottom: -5px;
  }
  .lessbig-text {
    font-size: 3.8em;
    margin-bottom: 40px;
  }
  .medium-text {
    font-size: 1.2em;
    font-weight: lighter;
    color: var(--text-big);
    margin-top: 140px;
    margin-bottom: -80px;
    margin-left: 30px;
  }
  /* ´Btn */
  .btn {
    text-decoration: none;
    color: var(--text-big);
    background: none;
    padding: 10px 20px;
    border: 1px solid var(--text-big);
    position: relative;
    bottom: -40px;
    left: 22%;
    transition: 1s;
  }
}
@media (max-width: 375px) {
  /* ´Navigation */
  .navigation .nav-container {
    margin-left: -50px;
  }
  .logo img {
    width: 80px;
    height: 80px;
  }
  /* Text */
  .big-text {
    font-size: 4em;
    margin-bottom: -5px;
  }
  .lessbig-text {
    font-size: 3.5em;
    margin-bottom: 40px;
  }
  .medium-text {
    font-size: 1.2em;
    font-weight: lighter;
    color: var(--text-big);
    margin-top: 140px;
    margin-bottom: -80px;
    margin-left: 30px;
  }
  .subtitle-section {
    font-size: 1.7em;
  }
  /* ´Btn */
  .btn {
    text-decoration: none;
    color: var(--text-big);
    background: none;
    padding: 10px 20px;
    border: 1px solid var(--text-big);
    position: relative;
    bottom: -10px;
    left: 25%;
    transition: 1s;
  }
  /* Scroll */
  .scroll {
    height: 50px;
    width: 2px;
    background-color: var(--text-big);
    transform: translateY(-40px);
    margin-left: 10px;
  }
  .scroll-text {
    font-size: 0.8em;
    width: 110px;
    position: relative;
    left: -36px;
    top: -20px;
    font-family: "Zodiak-Bold";
  }
  .arrow-down {
    position: absolute;
    left: 8px;
    bottom: -30px;
  }
  /* ´Main */
  #main {
    margin: 0 10px;
  }
  /* Ábout */
  .container-about {
    margin-top: 10px;
    min-height: 400px;
    display: grid;
    grid-template-columns: 4fr;
    justify-items: center;
  }
  .parag-section {
    text-transform: none;
    color: #33322f;
    font-family: "Zodiak-Bold";
    font-size: 1.2em;
  }
  /* Skill */
  .section-text-skill {
    font-size: 2.5em;
    font-weight: bolder;
    color: var(--text-big);
    text-align: center;
    margin-top: 250px;
  }
}
@media (max-width: 336px) {
  /* Text */
  .big-text {
    font-size: 3.5em;
    margin-bottom: -5px;
  }
  .lessbig-text {
    font-size: 3em;
    margin-bottom: 40px;
  }
  .medium-text {
    font-size: 1em;
    font-weight: lighter;
    color: var(--text-big);
    margin-top: 140px;
    margin-bottom: -80px;
    margin-left: 30px;
  }
  /* ´Btn */
  .btn {
    text-decoration: none;
    color: var(--text-big);
    background: none;
    padding: 10px 20px;
    border: 1px solid var(--text-big);
    position: relative;
    bottom: 0px;
    left: 20%;
    transition: 1s;
  }
  /* Scroll */
  .scroll {
    height: 50px;
    width: 2px;
    background-color: var(--text-big);
    transform: translateY(-10px);
    margin-left: 10px;
  }
  .scroll-text {
    font-size: 0.8em;
    width: 110px;
    position: relative;
    left: -36px;
    top: 10px;
    font-family: "Zodiak-Bold";
  }
}
